@mixin backImage($image){
  background: url($image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage

@mixin clearfix {
    &:before,
    &:after { 
    content: '';
    display: table;
    }// ampersand means: use the parent of the element im currently calling  befor,after
    &:after {
        clear: both;
    }//after
}//clearfix