@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,600,800');

@include border-box-sizing;  //uses border box sizing like the old IE - the one thing ie got right!  box sizing with padding and margin can throw out sizing needed

//add color palette
$blue   : #063642;
$green  : #45B29D;
$yellow : #EFC94C;
$orange : #E27A3F;
$red    : #DF4848;
$pink   : #CD0069;
$purple : #6C71C4;
$dark   : #000000;
$light  : #ffffff;

$backgroundColor        : $light;
$typeDefault            : $dark;
$navBackground          : $blue;

//Font Variables
$fontfamily     : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$thin           : 200;
$normal         : 400;
$bold           : 600;
$heavy          : 800;

$headFont   : $thin 1.5em/1.5em $fontfamily;
$mainFont   : $thin 1.5em/1.5em $fontfamily;
$headColor  : lighten ($blue, 20);